:root {
	/* Primary */
	--color-primary-blue: hsl(215, 51%, 70%);
	--color-primary-cyan: hsl(178, 100%, 50%);

	/* Neutral */
	--color-neutral-blue_main: hsl(217, 54%, 11%);
	--color-neutral-blue_card: hsl(216, 50%, 16%);
	--color-neutral-blue_line: hsl(215, 32%, 27%);
	--color-neutral-white: hsl(0,0%,100%);

	/* Typography */
	--size-p: 1.8rem;
	
	--font-family: "Outfit", sans-serif;
	--weight-light: 300; 
	--weight-regular: 400; 
	--weight-semi-bold: 600; 
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: var(--font-family);
}

body {
	width: 100%;
	height: 100vh;
	background-color: var(--color-neutral-blue_main);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.card {
	background-color: var(--color-neutral-blue_card);
	width: 33rem;
	height: 56rem;
	border-radius: 1.5rem;
	padding: 2rem
}

.card__aside {
	width: 29rem;
	height: 29rem;
}

.card__figure {
	position: relative;
	width: 100%;
	height: 100%;
}

.card__state, .card__image {
	width: 100%;
	height: 100%;
	border-radius: .8rem;
}

.card__image {
	object-fit: cover;
}

.card__state {
	cursor: pointer;
	display: flex;
	position: absolute;
	transition: all 0.5s ease;
}

.card__state:hover {
	background-color: hsla(178, 100%, 50%, 0.37);
	justify-content: center;
	align-items: center;
}


.card__title {
	color: var(--color-neutral-white);
	font-size: 2.3rem;
	margin-block: 2rem;
	font-weight: var(--weight-semi-bold);
	transition: all 0.5s ease;
}

.card__title:hover {
	color: var(--color-primary-cyan)
}

.card__paragraph {
	color: rgba(255, 255, 255, 0.5);
	font-weight: var(--weight-light);
	font-size: var(--size-p);
	margin-block: 2rem;
}

.card__data {
	position: relative;
	display: flex; 
	justify-content: space-between;
	font-size: var(--size-p);
	margin-block-end: 4rem;
}

.card__data::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: var(--color-neutral-blue_line);
	bottom: -2rem;
}


.card__price {
	display: flex;
	color: var(--color-primary-cyan);
	font-weight: var(--weight-semi-bold);
}

.icon {
	display: block;
	width: 2.3rem;
	height: 2.3rem;
	background-position: center;
	background-repeat: no-repeat;
}

.card__state:hover .eye {
	width: 4.4rem;
	height: 4.4rem;
	transition: all 0.5s ease;
	background-image: url("../images/icon-view.svg");
}

.ethereum {
	background-image: url("../images/icon-ethereum.svg");
}


.card__time {
	display: flex;
	color: rgba(255, 255, 255, 0.5);
	font-weight: var(--weight-light);
}

.clock {
	background-image: url("../images/icon-clock.svg");
}

.card__credits {
	display: flex;
}

.card__user {
	width: 3rem;
	height: 3rem;
	border-radius:30rem;
	border: 1px solid var(--color-neutral-white)

}

.card__paragraph.card__paragraph--user {
	margin-block: 0;
	margin-inline-start: 1.5rem;
	display: flex;
	align-items: center;
}

.card__paragraph--bold {
	color: var(--color-neutral-white);
	font-weight: var(--weight-semi-bold);
	margin-inline-start: .5rem;
	transition: color 0.5s ease;
}

.card__paragraph--bold:hover {
	cursor: pointer;
	color: var(--color-primary-cyan)
}

a {
	display: inline-block;
	padding: 2rem;
	font-size: var(--size-p);
	color: var(--color-neutral-white);
	text-decoration: none;
	border: 2px solid var(--color-neutral-blue_card);
	margin-block-start: 2rem;
	border-radius: 0.7rem;
	background: transparent;
	transition: background 0.5s ease;
}

a:hover {
	background: var(--color-neutral-blue_card)
}



.attribution {
	justify-items: end;
}